#wrapper{
	height: 98.1%;
	width: 99.1%;	color: white;
	font-family: verdana;
	background-color: blue;
}
.square{
	height: 33%;
	width: 100%;
	background-color: red;
	z-index: 1;
}
.button{
	height: 100%;
	width: 100%;
	border: none;
	background-color: pink;
	color: blue;
	font-family: verdana;
	font-size: 50px;
	border: solid;
}
body{
	height: 720px;	
	width: 1080px;
	display: inline-block;
}
.collum{
	height: 100%;
	width: 33%;
	display: inline-block;
}

